<% if !@subpages.empty? %>
	<div id='subnav'>
		<ul>
			<% for page in @subpages %>
				<li><%= link_to page.navlabel, view_page_path(page.name) %></li>
			<% end %>
		</ul>
	</div>
<% elsif @page.parent %>
	<div id='subnav'>
		<ul><li><%= link_to "Return to #{@page.parent.navlabel}", view_page_path(@page.parent.name) %></li></ul>
	</div>
<% end %>

<% if logged_in? %>

<a href='#' id='edit'>Edit This Page</a>

	<%= in_place_editor_field :page, 'body', {}, 
	{:rows => 20, :cols => 80, :external_control => 'edit', :external_control_only => true,
	 :load_text_url => {:controller => 'viewer', :action => 'get_unformatted_text', :id => @page.id}
	} %>

<% else %>
<div id='pagebody'>
	<%= @page.body %>
	<hr>
	<div id='commentf' >
	<% form_for :comment, @comment do |f| %>
	שם:</br> <%= f.text_field (:name, :size =>25 ) %> </br>
	 אי מייל:</br><%= f.text_field (:email, :size => 25) %> </br>
	 נושא:</br><%= f.text_field (:subject, :size => 25) %> </br>
	 תגובה:</br><%= f.text_area (:body, :cols => 40, :rows =>5 )%>
	<p> <%= f.submit "שמור"%>
		<% end %>
	</div>
<div id='comment' >
	<% for comment in @pageComments do%> 
	מאת:<%= comment.name%>
	</br>
	תאריך:<%= comment.created_at.strftime("%d/%m/%y %H:%M")%>
	</br>
	<%end%>
	</div>
	
</div>


<% end %>